<h2> Movies </h2>
<%= render "shared/movie_list", movies:@movies %>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to 'Add New Movie', new_movie_path, {class: 'button'}%>
  </section>
<% end %>